



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cams.each do |cam| %>
      <tr>
        <td><%= cam.title %></td>
        <td><%= cam.alert %></td>
        <% @alert = Alert.last.image_url %>
        <img id='index_img'src="<%=@alert%>"</img>
      <div class="buttons">



        <td class="btn btn-default btn-sm"><%= link_to 'Alerts', cam %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Edit', edit_cam_path(cam) %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Remove', cam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
