<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cam.title %>
</p>



<div id="monitor_status" style="display:none">
    Montior text holder
</div>

<div id ="cam_status">
  cam status of on or off will replace this text and make it visible.
</div>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><strong>Power</strong></li>
    <li>Camera On <%= radio_button_tag(:cam_power, "true" ,true, class: "cams_power") %> <br></li>
    <li>Camera Off <%= radio_button_tag(:cam_power, "false" ,false, class: "cams_power") %> <br></li>
    <li><strong>Alerts</strong></li>
    <li>Yes, save alerts <%= radio_button_tag(:monitor, "on" ,false, class: "monitor_toggle") %> <br></li>
    <li>No, don't save alerts <%= radio_button_tag(:monitor, "off",false, class: "monitor_toggle") %><br></li>
    <br>
    <li>  <strong><%= link_to 'Change Name', edit_cam_path(@cam) %></li>
    <li><%= link_to 'Home', cams_path %></li></strong>
  </ul>
</div>



<div id="anilerts">
<% @u = Alert.all %>
<% @anilerts = @u.map {|alert| alert.animated_url } %>
<% @anilerts.reverse.each do |x| %>
  <a href="<%=x%>" target="_blank"><img src="<%= x %>" alt="" /></a>
  <% end %>
</div>

  <%= link_to 'Edit', edit_cam_path(@cam) %> |
  <%= link_to 'Back', cams_path %>

  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
