<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cam.title %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @cam.alert %>
</p>

<div id="monitor_status" style="display:none">
    Montior text holder
</div>


<p id="activate">
  Turn on Alert monitor to save alerts.<br>
  Yes, save alerts <%= radio_button_tag(:monitor, "on" ,true, class: "monitor_toggle") %> <br>
  No, don't save alerts <%= radio_button_tag(:monitor, "off",true, class: "monitor_toggle") %><br>
</p>



<%= link_to 'Edit', edit_cam_path(@cam) %> |
<%= link_to 'Back', cams_path %>

<%= @cam.alerts.to_a %>
