<p id="notice"><%= notice %></p>


<%= hidden_field(:cam_id, "",:value => @cam.id) %>

<p>
  <strong>Title:</strong>
  <%= @cam.title %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @cam.alert %>
</p>



<div id ="cam_status">
  cam status of on or off will replace this text and make it visible.
</div>

<div class="manage">
<p id="cams_power">
  Manage Camera's power<br>
  Camera On <%= radio_button_tag(:cam_power, "true" ,true, class: "cams_power bootstrap-switch-container") %> <br>
  Camera Off <%= radio_button_tag(:cam_power, "false" ,false, class: "cams_power bootstrap-switch-container") %> <br>
</p>
</div>

<div class="manage">
  <div id="monitor_status" style="display:none">
      Montior text holder
  </div>
<p id="activate">
  Do you want to save motion alerts?<br>
  Yes, save alerts <%= radio_button_tag(:monitor, "on" ,false, class: "monitor_toggle") %> <br>
  No, don't save alerts <%= radio_button_tag(:monitor, "off",false, class: "monitor_toggle") %><br>
</p>
</div>

<%= link_to 'Edit Cam Description', edit_cam_path(@cam) %> |
<%= link_to 'List all Cameras', cams_path %>

<div id="alerts_container">
  <%= paginate @alerts %><br>
  <% @alerts.each do |alert|  %>
    <div id="<%= alert.id %>">
      <%= alert.created_at.in_time_zone("Eastern Time (US & Canada)") %><br>
      <img src="<%= alert.image_url %>" alt="" class="alert_photos" />
    </div>
    <div id="<%= alert.id %>_imageholder" class="animated_display">
      <img src="<%=alert.animated_url%>" alt="" >
    </div>
  <% end %>
</div>


<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
 <script src="js/bootstrap.min.js"></script> -->
