

<%= hidden_field(:cam_id, "",:value => @cam.id) %>

<p>
  <strong>Title:</strong>
  <%= @cam.title %>
</p>





<div id ="cam_status">Camera's Power is ..</div>
<div id ="alert_status">Alerts being saved? ..</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><strong>Power</strong></li>
    <li>Camera On <%= radio_button_tag(:cam_power, "true" ,true, class: "cams_power") %> <br></li>
    <li>Camera Off <%= radio_button_tag(:cam_power, "false" ,false, class: "cams_power") %> <br></li>
    <li><strong>Alerts</strong></li>
    <li>Yes, save alerts <%= radio_button_tag(:monitor, "on" ,false, class: "monitor_toggle") %> <br></li>
    <li>No, don't save alerts <%= radio_button_tag(:monitor, "off",false, class: "monitor_toggle") %><br></li>
    <br>
    <li>  <strong><%= link_to 'Change Name', edit_cam_path(@cam) %></li>
    <li><%= link_to 'Home', cams_path %></li></strong>
  </ul>

</div>


<br>
<%= link_to 'List all Cameras', cams_path %>

<div class="paginate">
  <%= paginate @alerts %><br>
</div>

<div class="refresh_btn" > <input type="button" value="Refresh Page" onClick="window.location.reload()"> </div>

<div id="alerts_container">
  <% @alerts.each do |alert|  %>
  <small>  <%= time_ago_in_words(alert.created_at)%> ago<br></small>
  <small>  <%= alert.created_at.strftime("%b %d, %Y") %> at <%= alert.created_at.strftime("%I:%M%P %Z") %><br></small>

    <div id="<%= alert.id %>">
      <img src="<%= alert.image_url %>" alt="" class="alert_photos" />
    </div>
    <div id="<%= alert.id %>_imageholder" class="animated_display">
      <img src="<%=alert.animated_url%>" alt="" class="img-ani" >

    </div>
  <% end %>
</div>


<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
