<!DOCTYPE html>
<html>
<head>
  <title>iSecure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
</head>
<body>



      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "iSecure", root_path %></div>
        <div style="clear:both">
        <!-- <div><img id='nestlogo' src="http://www.lg.com/us/discover/smartthinq/images/nest_logo.png" alt="" /></div> -->
            <% if user_signed_in? %>
          <div class="user_menu">
              <ul class="nav navbar-nav navbar-right flex">
              <li><%= link_to 'Add Cam', new_cam_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Cameras', cams_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
          <% else %>
          <div class="user_menu">
                        <ul class="nav navbar-nav pull-right flex">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
                            <li><%= link_to 'Sign in', new_user_session_path %></li>
                        </ul>
          </div>
          <% end %>
  </div>
</div>
</header>
<div id="main_content" class="container">
  <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
<div id="content" class="col-md-9 center-block">
<%= yield %>
</div>
</div>
</div>
<div id="main_content" class="container">
  <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</body>
</html>
