<!DOCTYPE html>
<html>
<head>
  <title>iSecure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
</head>
<body>
<div class="container">
<img src="" alt="" />
  <div style="clear:both">

    <% if user_signed_in? %>

    <div id='user_menu'class="dropdown pull-right">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">&#9881;
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Cameras</li>
            <li><%= link_to 'Add Cam', new_cam_path %></li>
          <li><%= link_to 'All Cameras', cams_path %></li>
          <li class="divider"></li>
          <li class="dropdown-header">Account</li>
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <div id="user_menu">
      <ul class="nav navbar-nav flex">
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      </ul>
    </div>
    <% end %>
    <img id='logo' src="http://s33.postimg.org/gie8t3kcf/isecurelogo_trans.png" alt="" />
      <!-- <div><img id='nestlogo' src="http://www.lg.com/us/discover/smartthinq/images/nest_logo.png" alt="" /></div> -->

<div id="content" class="col-md-9 center-block">
<%= yield %>
</div>
</div>
</div>
<div id="main_content" class="container">
  <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</body>
</html>
